
.index {
  margin-top: 5.25rem;
}

.index-text-wrapper {
  font-size: 1.875rem;
  font-size: calc(30px + (88 - 24) * ((100vw - 320px) / (1600 - 300)));
  font-weight: 400;
  line-height: 1.2;
  max-width: 22rem;
  position: relative;
  z-index: 200;
}

.index-text-wrapper h1 {
  line-height: 1;
}

.index-heading {
  display: inline-block;
  overflow-y: hidden;
  position: relative;
}

.index-heading span {
  display: inline-block;
  transform: translateY(3rem);
}

.image-location {
  transform: translate3d(-2.675rem, -6.275rem, 0);
  width: 100%;
  z-index: 100;
  position: relative;
}

#my-image {
  background-image: url('../assets/images/IMG_2893.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 500px;
  min-height: 390px;
  height: 478px;
}

.nyc {
  display: inline-block;
  -webkit-animation-name: spin;
          animation-name: spin;
          -webkit-animation-duration: 10s;
                  animation-duration: 10s;
          -webkit-animation-timing-function: linear;
                  animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
                  animation-iteration-count: infinite;
                  -webkit-animation-play-state: running;
                          animation-play-state: running;
  z-index: 500;
  position: absolute;
  top: 25.15rem;
  right: -3.85rem;
}

/* min-width 568px */
@media screen and (min-width: 35.5rem) {
  .index-text-wrapper {
    max-width: 30.75rem;
  }
  .image-location {
    transform: translate3d(6.87rem, -6.275rem, 0);
  }
  #my-image {
    height: 35rem;
    max-height: 35rem;
    width: 24rem;
    max-width: 30rem;
  }
  .nyc {
    top: 30.15rem;
    right: 25.85rem;
  }
}
