/* max-width 600px and landscape */
@media screen and (max-width: 35.5rem) and (orientation: landscape) {
  .main-nav {
    background: var(--noOpacityBlack);
  }
  .nav-wrapper ul {
    padding-top: 5rem;
  }
  .index-text-wrapper {
    max-width: 40rem;
  }
}
